---
const { langPrefix } = Astro.props;
const prefix = langPrefix || "/pl";
const { data } = Astro.props;
---

<div class="mil-inner-banner mil-p-0-120">
  <div class="mil-banner-content mil-center mil-up">
    <div class="container">
      <ul class="mil-breadcrumbs mil-center mil-mb-60">
        <li><a href={prefix} title="Start">Start</a></li>
        <li><a href={`${prefix}/kontakt`} title={data.kontakttxt01}>{data.kontakttxt01}</a></li>
      </ul>
      <h1 class="mil-mb-60" set:html={data.heading} />

      <div class="mil-divider mil-mb-60"></div>
      <div class="row justify-content-between">
        <div class="col-lg-5 mil-mb-60">
          <h6 class="mil-mb-30">Lubrza</h6>

          <p class="mil-dark-soft mil-up" set:html={data.kontakttxt02} />
        </div>
        <div class="col-lg-5 mil-mb-60">
          <h6 class="mil-mb-30">Zielona Góra</h6>

          <p class="mil-dark-soft" set:html={data.kontakttxt03} />
        </div>
      </div>

      <a
        href="#contact"
        class="mil-link mil-dark mil-arrow-place mil-down-arrow"
      >
        <span>{data.kontakttxt04}</span>
      </a>
    </div>
  </div>
</div>

<section id="contact">
  <div class="container mil-p-120-90">
    <h2 class="mil-center mil-up mil-mb-120" set:html={data.kontakttxt05} />
    <form
      id="contactform"
      action="/api/contact"
      method="post"
      class="row align-items-center"
    >
      <div class="col-lg-6 mil-up">
        <input
          type="text"
          name="name"
          id="name"
          placeholder={data.kontakttxt13}
        />
      </div>
      <div class="col-lg-6 mil-up">
        <input
          type="email"
          name="email"
          id="email"
          placeholder={data.kontakttxt14}
        />
      </div>
      <div class="col-lg-12 mil-up">
        <select name="subject" id="subject">
          <option value="">{data.kontakttxt06}</option>
          <option value="Strona www">{data.kontakttxt07}</option>
          <option value="Sklep internetowy">{data.kontakttxt08}</option>
          <option value="Systemy CRM-ERP">{data.kontakttxt09}</option>
          <option value="Współpraca">{data.kontakttxt10}</option>
        </select>
      </div>
      <div class="col-lg-12 mil-up">
        <textarea name="message" id="message" placeholder={data.kontakttxt15}
        ></textarea>
      </div>
      <div class="col-lg-8">
        <p class="mil-up mil-mb-30">
          <span class="mil-accent">*</span>
          {data.kontakttxt11}
        </p>
      </div>
      <div class="col-lg-4">
        <div class="mil-adaptive-right mil-up mil-mb-30">
          <button type="submit" class="mil-button mil-arrow-place" title={data.kontakttxt12}>
            <span>{data.kontakttxt12}</span>
          </button>
        </div>
      </div>
    </form>
  </div>
</section>
