---
const { langPrefix } = Astro.props;
const prefix = langPrefix || "/pl";
const { data } = Astro.props;
---

<!-- banner -->
<div class="mil-dark-bg">
  <div class="mil-inner-banner">
    <div class="mi-invert-fix">
      <div class="mil-banner-content mil-up">
        <div class="mil-animation-frame">
          <div
            class="mil-animation mil-position-4 mil-scale"
            data-value-1="6"
            data-value-2="1.4"
          >
          </div>
        </div>
        <div class="container">
          <ul class="mil-breadcrumbs mil-light mil-mb-60">
            <li><a href={prefix} title="Start">Start</a></li>
            <li>
              <a href={`${prefix}/wspolpraca/`} title={data.wspolpracatxt01}
                >{data.wspolpracatxt01}</a>
            </li>
          </ul>
          <h1 class="mil-muted mil-mb-60" set:html={data.heading} />
          <a
            href="#services"
            class="mil-link mil-accent mil-arrow-place mil-down-arrow"
          >
            <span>{data.wspolpracatxt01}</span>
          </a>
        </div>
      </div>
    </div>
  </div>
  <!-- banner end -->

  <!-- services -->
  <section id="services">
    <div class="mi-invert-fix">
      <div class="container mil-p-120-60">
        <div class="row">
          <div class="col-lg-5">
            <div class="mil-lines-place mil-light"></div>
          </div>
          <div class="col-lg-7">
            <div class="row">
              <div class="col-md-6 col-lg-6">
                <a
                  href={`${prefix}/oferta/`}
                  class="mil-service-card-lg mil-more mil-accent-cursor mil-offset"
                >
                  <h3 class="mil-muted mil-up mil-mb-30">
                    {data.wspolpracatxt02}
                  </h3>
                  <p class="mil-descr mil-light-soft mil-up mil-mb-30">
                    {data.wspolpracatxt03}
                  </p>
                  <div class="mil-link mil-accent mil-arrow-place mil-up">
                    <span>{data.wspolpracatxt04}</span>
                  </div>
                </a>
              </div>
              <div class="col-md-6 col-lg-6">
                <a
                  href={`${prefix}/oferta/`}
                  class="mil-service-card-lg mil-more mil-accent-cursor"
                >
                  <h3 class="mil-muted mil-up mil-mb-30">
                    {data.wspolpracatxt05}
                  </h3>
                  <p class="mil-descr mil-light-soft mil-up mil-mb-30">
                    {data.wspolpracatxt06}
                  </p>
                  <div class="mil-link mil-accent mil-arrow-place mil-up">
                    <span>{data.wspolpracatxt04}</span>
                  </div>
                </a>
              </div>
              <div class="col-md-6 col-lg-6">
                <a
                  href={`${prefix}/oferta/`}
                  class="mil-service-card-lg mil-more mil-accent-cursor mil-offset"
                >
                  <h3 class="mil-muted mil-up mil-mb-30">
                    {data.wspolpracatxt07}
                  </h3>
                  <p class="mil-descr mil-light-soft mil-up mil-mb-30">
                    {data.wspolpracatxt08}
                  </p>
                  <div class="mil-link mil-accent mil-arrow-place mil-up">
                    <span>{data.wspolpracatxt04}</span>
                  </div>
                </a>
              </div>
              <div class="col-md-6 col-lg-6">
                <a
                  href={`${prefix}/oferta/`}
                  class="mil-service-card-lg mil-more mil-accent-cursor"
                >
                  <h3 class="mil-muted mil-up mil-mb-30">
                    {data.wspolpracatxt09}
                  </h3>
                  <p class="mil-descr mil-light-soft mil-up mil-mb-30">
                    {data.wspolpracatxt10}
                  </p>
                  <div class="mil-link mil-accent mil-arrow-place mil-up">
                    <span>{data.wspolpracatxt04}</span>
                  </div>
                </a>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
</div>
<!-- services end -->

<!-- call to action -->
<section class="mil-soft-bg">
  <div class="container mil-p-120-120">
    <div class="row">
      <span class="col-lg-10">
        <span
          class="mil-suptitle mil-suptitle-right mil-suptitle-dark mil-up"
          set:html={data.wspolpracatxt11}
        />
      </span>
    </div>
    <div class="mil-center">
      <h2 class="mil-up mil-mb-60" set:html={data.wspolpracatxt12} />
      <div class="mil-up">
        <a
          href={`${prefix}/kontakt/`}
          class="mil-button mil-arrow-place"
          title={data.wspolpracatxt13}><span>{data.wspolpracatxt13}</span></a
        >
      </div>
    </div>
  </div>
</section>
<!-- call to action end -->
