---
const { langPrefix } = Astro.props;
const prefix = langPrefix || "/pl";
const { data } = Astro.props;
---

<!-- banner -->
<div class="mil-inner-banner">
  <div class="mil-animation-frame">
    <div
      class="mil-animation mil-position-4 mil-dark mil-scale"
      data-value-1="6"
      data-value-2="1.4"
    >
    </div>
  </div>
  <div class="mil-banner-content mil-up">
    <div class="container">
      <ul class="mil-breadcrumbs mil-mb-60">
        <li><a href="/pl" title="Start">Start</a></li>
        <li><a href="/pl/oferta" title={data.projektytxt01}>{data.projektytxt01}</a></li>
      </ul>
      <h1 class="mil-mb-60" set:html={data.heading} />
      <a
        href="#projekty"
        class="mil-link mil-dark mil-arrow-place mil-down-arrow"
      >
        <span>{data.projektytxt01}</span>
      </a>
    </div>
  </div>
</div>
<!-- banner end -->

<!-- portfolio -->
<section class="mil-portfolio-slider-frame" id="#projekty">
  <div class="mil-animation-frame">
    <div
      class="mil-animation mil-position-4 mil-dark mil-scale"
      data-value-1="1"
      data-value-2="2"
      style="top: -60px; right: -4px;"
    >
    </div>
  </div>
  <div class="container">
    <div class="row align-items-end">
      <div class="col-lg-9">
        <div class="swiper-container mil-portfolio-slider mil-up">
          <div class="swiper-wrapper">
            <div class="swiper-slide">
              <div
                class="mil-portfolio-item mil-slider-item"
                data-swiper-parallax="-30"
              >
                <div class="mil-cover-frame mil-drag">
                  <div class="mil-cover" data-swiper-parallax-scale="1.3">
                    <img src="/img/works/projekt_strony_1.webp" alt="cover" />
                  </div>
                </div>
                <div
                  class="mil-descr"
                  data-swiper-parallax-x="104%"
                  data-swiper-parallax-opacity="0"
                >
                  <div
                    class="mil-descr-text"
                    data-swiper-parallax-y="100%"
                    data-swiper-parallax-opacity="0"
                  >
                    <div class="mil-labels mil-mb-15">
                      <div class="mil-label mil-upper mil-accent">
                        {data.projektytxt02}
                      </div>
                      <div class="mil-label mil-upper">
                        {data.projektytxt03}
                      </div>
                    </div>
                    <h5>{data.projektytxt04}</h5>
                  </div>
                  <div
                    data-swiper-parallax-y="120"
                    data-swiper-parallax-opacity="0"
                  >
                    <a
                      href="/pl/projekty/strona-firmowa-wooden"
                      class="mil-button mil-arrow-place"
                      title={data.projektytxt05}
                    >
                      <span>{data.projektytxt05}</span>
                    </a>
                  </div>
                </div>
              </div>
            </div>
            <div class="swiper-slide">
              <div
                class="mil-portfolio-item mil-slider-item"
                data-swiper-parallax="-30"
              >
                <div class="mil-cover-frame mil-drag">
                  <div class="mil-cover" data-swiper-parallax-scale="1.3">
                    <img src="/img/works/projekt_strony_2.webp" alt="cover" />
                  </div>
                </div>
                <div
                  class="mil-descr"
                  data-swiper-parallax-x="104%"
                  data-swiper-parallax-opacity="0"
                >
                  <div
                    class="mil-descr-text"
                    data-swiper-parallax-y="100%"
                    data-swiper-parallax-opacity="0"
                  >
                    <div class="mil-labels mil-mb-15">
                      <div class="mil-label mil-upper mil-accent">
                        {data.projektytxt02}
                      </div>
                      <div class="mil-label mil-upper">
                        {data.projektytxt06}
                      </div>
                    </div>
                    <h5>{data.projektytxt07}</h5>
                  </div>
                  <div
                    data-swiper-parallax-y="100%"
                    data-swiper-parallax-opacity="0"
                  >
                    <a
                      href="/pl/projekty/strona-firmowa-kupsaune"
                      class="mil-button mil-arrow-place"
                      title={data.projektytxt05}
                    >
                      <span>{data.projektytxt05}</span>
                    </a>
                  </div>
                </div>
              </div>
            </div>
            <div class="swiper-slide">
              <div
                class="mil-portfolio-item mil-slider-item"
                data-swiper-parallax="-30"
              >
                <div class="mil-cover-frame mil-drag">
                  <div class="mil-cover" data-swiper-parallax-scale="1.3">
                    <img src="/img/works/projekt_strony_3.webp" alt="cover" />
                  </div>
                </div>
                <div
                  class="mil-descr"
                  data-swiper-parallax-x="104%"
                  data-swiper-parallax-opacity="0"
                >
                  <div
                    class="mil-descr-text"
                    data-swiper-parallax-y="100%"
                    data-swiper-parallax-opacity="0"
                  >
                    <div class="mil-labels mil-mb-15">
                      <div class="mil-label mil-upper mil-accent">
                        {data.projektytxt02}
                      </div>
                      <div class="mil-label mil-upper">
                        {data.projektytxt08}
                      </div>
                    </div>
                    <h5>{data.projektytxt09}</h5>
                  </div>
                  <div
                    data-swiper-parallax-y="100%"
                    data-swiper-parallax-opacity="0"
                  >
                    <a
                      href="/pl/projekty/strona-firmowa-westatre"
                      class="mil-button mil-arrow-place"
                      title={data.projektytxt05}
                    >
                      <span>{data.projektytxt05}</span>
                    </a>
                  </div>
                </div>
              </div>
            </div>
            <div class="swiper-slide">
              <div
                class="mil-portfolio-item mil-slider-item"
                data-swiper-parallax="-30"
              >
                <div class="mil-cover-frame mil-drag">
                  <div class="mil-cover" data-swiper-parallax-scale="1.3">
                    <img src="/img/works/projekt_strony_4.webp" alt="cover" />
                  </div>
                </div>
                <div
                  class="mil-descr"
                  data-swiper-parallax-x="104%"
                  data-swiper-parallax-opacity="0"
                >
                  <div
                    class="mil-descr-text"
                    data-swiper-parallax-y="100%"
                    data-swiper-parallax-opacity="0"
                  >
                    <div class="mil-labels mil-mb-15">
                      <div class="mil-label mil-upper mil-accent">
                        {data.projektytxt02}
                      </div>
                      <div class="mil-label mil-upper">
                        {data.projektytxt10}
                      </div>
                    </div>
                    <h5>{data.projektytxt11}</h5>
                  </div>
                  <div
                    data-swiper-parallax-y="100%"
                    data-swiper-parallax-opacity="0"
                  >
                    <a
                      href="/pl/projekty/rolniczy-crm"
                      class="mil-button mil-arrow-place"
                      title={data.projektytxt05}
                    >
                      <span>{data.projektytxt05}</span>
                    </a>
                  </div>
                </div>
              </div>
            </div>
            <div class="swiper-slide">
              <div
                class="mil-portfolio-item mil-slider-item"
                data-swiper-parallax="-30"
              >
                <div class="mil-cover-frame mil-drag">
                  <div class="mil-cover" data-swiper-parallax-scale="1.3">
                    <img src="/img/works/projekt_strony_5.webp" alt="cover" />
                  </div>
                </div>
                <div
                  class="mil-descr"
                  data-swiper-parallax-x="104%"
                  data-swiper-parallax-opacity="0"
                >
                  <div
                    class="mil-descr-text"
                    data-swiper-parallax-y="100%"
                    data-swiper-parallax-opacity="0"
                  >
                    <div class="mil-labels mil-mb-15">
                      <div class="mil-label mil-upper mil-accent">
                        {data.projektytxt02}
                      </div>
                      <div class="mil-label mil-upper">
                        {data.projektytxt12}
                      </div>
                    </div>
                    <h5>{data.projektytxt13}</h5>
                  </div>
                  <div
                    data-swiper-parallax-y="100%"
                    data-swiper-parallax-opacity="0"
                  >
                    <a
                      href="/pl/projekty/api-jbr-rogowiec"
                      class="mil-button mil-arrow-place"
                      title={data.projektytxt05}
                    >
                      <span>{data.projektytxt05}</span>
                    </a>
                  </div>
                </div>
              </div>
            </div>
            <div class="swiper-slide">
              <div
                class="mil-portfolio-item mil-slider-item"
                data-swiper-parallax="-30"
              >
                <div class="mil-cover-frame mil-drag">
                  <div class="mil-cover" data-swiper-parallax-scale="1.3">
                    <img src="/img/works/projekt_strony_6.webp" alt="cover" />
                  </div>
                </div>
                <div
                  class="mil-descr"
                  data-swiper-parallax-x="104%"
                  data-swiper-parallax-opacity="0"
                >
                  <div
                    class="mil-descr-text"
                    data-swiper-parallax-y="100%"
                    data-swiper-parallax-opacity="0"
                  >
                    <div class="mil-labels mil-mb-15">
                      <div class="mil-label mil-upper mil-accent">
                        {data.projektytxt02}
                      </div>
                      <div class="mil-label mil-upper">
                        {data.projektytxt14}
                      </div>
                    </div>
                    <h5>{data.projektytxt15}</h5>
                  </div>
                  <div
                    data-swiper-parallax-y="100%"
                    data-swiper-parallax-opacity="0"
                  >
                    <a
                      href="/pl/projekty/sklep-rolniczy"
                      class="mil-button mil-arrow-place"
                      title={data.projektytxt05}
                    >
                      <span>{data.projektytxt05}</span>
                    </a>
                  </div>
                </div>
              </div>
            </div>

            <div class="swiper-slide">
              <div
                class="mil-portfolio-item mil-slider-item"
                data-swiper-parallax="-30"
              >
                <div class="mil-cover-frame mil-drag">
                  <div class="mil-cover" data-swiper-parallax-scale="1.3">
                    <img src="/img/works/projekt_strony_7.webp" alt="cover" />
                  </div>
                </div>
                <div
                  class="mil-descr"
                  data-swiper-parallax-x="104%"
                  data-swiper-parallax-opacity="0"
                >
                  <div
                    class="mil-descr-text"
                    data-swiper-parallax-y="100%"
                    data-swiper-parallax-opacity="0"
                  >
                    <div class="mil-labels mil-mb-15">
                      <div class="mil-label mil-upper mil-accent">
                        {data.projektytxt02}
                      </div>
                      <div class="mil-label mil-upper">
                        {data.projektytxt16}
                      </div>
                    </div>
                    <h5>{data.projektytxt17}</h5>
                  </div>
                  <div
                    data-swiper-parallax-y="100%"
                    data-swiper-parallax-opacity="0"
                  >
                    <a
                      href="/pl/projekty/api-olx"
                      class="mil-button mil-arrow-place"
                      title={data.projektytxt05}
                    >
                      <span>{data.projektytxt05}</span>
                    </a>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="col-lg-3 mil-relative">
        <div class="mil-portfolio-nav">
          <div class="mil-portfolio-btns-frame">
            <div class="swiper-portfolio-pagination"></div>
            <div class="mil-slider-nav">
              <div
                class="mil-slider-arrow mil-prev mil-portfolio-prev mil-arrow-place"
              >
              </div>
              <div class="mil-slider-arrow mil-portfolio-next mil-arrow-place">
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
<!-- portfolio end -->
