---
const { langPrefix } = Astro.props;
const prefix = langPrefix || "/pl";
const { data } = Astro.props;
---

<section class="mil-banner mil-dark-bg">
  <div class="mi-invert-fix">
    <div class="mil-animation-frame">
      <div
        class="mil-animation mil-position-1 mil-scale"
        data-value-1="7"
        data-value-2="1.6"
      >
      </div>
      <div
        class="mil-animation mil-position-2 mil-scale"
        data-value-1="4"
        data-value-2="1"
      >
      </div>
      <div
        class="mil-animation mil-position-3 mil-scale"
        data-value-1="1.2"
        data-value-2=".1"
      >
      </div>
    </div>

    <div class="mil-gradient"></div>

    <div class="container">
      <div class="mil-banner-content mil-up">
        <h1 class="mil-muted mil-mb-60" set:html={data.heading} />
        <div class="row">
          <div class="col-md-7 col-lg-5">
            <p class="mil-light mil-mb-60">
              {data.mainContent}
            </p>
          </div>
        </div>

        <a
          href={`${prefix}/oferta`}
          class="mil-button mil-arrow-place mil-btn-space"
          title={data.linktxt1}
        >
          <span>{data.linktxt1}</span>
        </a>

        <a
          href={`${prefix}/projekty`}
          class="mil-link mil-muted mil-arrow-place"
          title={data.linktxt2}
        >
          <span>{data.linktxt2}</span>
        </a>

        <div class="mil-circle-text">
          <svg
            version="1.1"
            xmlns="http://www.w3.org/2000/svg"
            xmlns:xlink="http://www.w3.org/1999/xlink"
            x="0px"
            y="0px"
            viewBox="0 0 300 300"
            enable-background="new 0 0 300 300"
            xml:space="preserve"
            class="mil-ct-svg mil-rotate"
            data-value="360"
          >
            <defs>
              <path
                id="circlePath"
                d="M 150, 150 m -60, 0 a 60,60 0 0,1 120,0 a 60,60 0 0,1 -120,0 "
              ></path>
            </defs>
            <circle cx="150" cy="100" r="75" fill="none"></circle>
            <g>
              <use xlink:href="#circlePath" fill="none"></use>
              <text style="letter-spacing: 5.5px">
                <textPath xlink:href="#circlePath">{data.circletxt}</textPath>
              </text>
            </g>
          </svg>
          <a
            href="#about"
            class="mil-button mil-arrow-place mil-icon-button mil-arrow-down"
            title="O nas"></a>
        </div>
      </div>
    </div>
  </div>
</section>

<section id="about" class="">
  <div class="container mil-p-120-30">
    <div class="row justify-content-between align-items-center">
      <div class="col-lg-6 col-xl-5">
        <div class="mil-mb-90">
          <h2 class="mil-up mil-mb-60" set:html={data.aboutheading} />
          <p class="mil-up mil-mb-30 mil-txt-just">
            {data.abouttxt1}
          </p>
          <p class="mil-up mil-mb-60 mil-txt-just">
            {data.abouttxt2}
          </p>
          <div class="mil-about-quote">
            <div class="mil-avatar mil-up">
              <img src="/img/logo-czarne.png" alt="Logo Maxsoft" />
            </div>
            <h4 class="mil-quote mil-up">
              <span class="mil-thin">{data.abouttxt3}</span>
            </h4>
          </div>
        </div>
      </div>
      <div class="col-lg-5">
        <div class="mil-about-photo mil-mb-90">
          <div class="mil-lines-place"></div>
          <div
            class="mil-up mil-img-frame mil-img-effect"
            style="padding-bottom: 160%;"
          >
            <img
              src="/img/photo/programowanie.webp"
              alt="Programista Zielona Góra"
              class="mil-scale effect-image"
            />
          </div>
        </div>
      </div>
    </div>
  </div>
</section>

<section class="mil-dark-bg">
  <div class="mi-invert-fix">
    <div class="mil-animation-frame">
      <div
        class="mil-animation mil-position-1 mil-scale"
        data-value-1="2.4"
        data-value-2="1.4"
        style="top: 300px; right: -100px"
      >
      </div>
      <div
        class="mil-animation mil-position-2 mil-scale"
        data-value-1="2"
        data-value-2="1"
        style="left: 150px"
      >
      </div>
    </div>
    <div class="container mil-p-120-0">
      <div class="mil-mb-120">
        <div class="row">
          <div class="col-lg-10">
            <span
              class="mil-suptitle mil-light-soft mil-suptitle-right mil-up"
              set:html={data.ofertxt1}
            />
          </div>
        </div>

        <div class="mil-complex-text justify-content-center mil-up mil-mb-15">
          <h2 class="mil-h1 mil-muted mil-center" set:html={data.ofertxt2} />
        </div>
        <div class="mil-complex-text justify-content-center mil-up">
          <h2 class="mil-h1 mil-muted mil-center" set:html={data.ofertxt3} />
          <a
            href={`${prefix}/oferta`}
            class="mil-services-button mil-button mil-arrow-place"
            title={data.ofertxt4}><span>{data.ofertxt4}</span></a
          >
        </div>
      </div>

      <div class="row mil-services-grid m-0">
        <div class="col-md-6 col-lg-3 mil-services-grid-item p-0">
          <a
            href={`${prefix}/oferta`}
            class="mil-service-card-sm mil-up"
            title="Oferta projektowania stron www Zielona Góra"
          >
            <h5 class="mil-muted mil-mb-30" set:html={data.ofertxt5} />
            <p class="mil-light-soft mil-mb-30">
              {data.ofertxt6}
            </p>
            <div class="mil-button mil-icon-button-sm mil-arrow-place"></div>
          </a>
        </div>
        <div class="col-md-6 col-lg-3 mil-services-grid-item p-0">
          <a
            href={`${prefix}/oferta`}
            class="mil-service-card-sm mil-up"
            title="Oferta projektowania stron www Świebodzin"
          >
            <h5 class="mil-muted mil-mb-30" set:html={data.ofertxt7} />
            <p class="mil-light-soft mil-mb-30">
              {data.ofertxt8}
            </p>
            <div class="mil-button mil-icon-button-sm mil-arrow-place"></div>
          </a>
        </div>
        <div class="col-md-6 col-lg-3 mil-services-grid-item p-0">
          <a
            href={`${prefix}/oferta`}
            class="mil-service-card-sm mil-up"
            title="Oferta projektowania stron www Sulechów"
          >
            <h5 class="mil-muted mil-mb-30" set:html={data.ofertxt9} />
            <p class="mil-light-soft mil-mb-30">
              {data.ofertxt10}
            </p>
            <div class="mil-button mil-icon-button-sm mil-arrow-place"></div>
          </a>
        </div>
        <div class="col-md-6 col-lg-3 mil-services-grid-item p-0">
          <a
            href={`${prefix}/oferta`}
            class="mil-service-card-sm mil-up"
            title="Oferta projektowania stron www Nowa Sól"
          >
            <h5 class="mil-muted mil-mb-30" set:html={data.ofertxt11} />
            <p class="mil-light-soft mil-mb-30">
              {data.ofertxt12}
            </p>
            <div class="mil-button mil-icon-button-sm mil-arrow-place"></div>
          </a>
        </div>
      </div>
    </div>
  </div>
</section>

<section class="mil-soft-bg">
  <div class="container mil-p-120-120">
    <div class="row">
      <div class="col-lg-10">
        <span
          class="mil-suptitle mil-suptitle-right mil-suptitle-dark mil-up"
          set:html={data.softtxt1}
        />
      </div>
    </div>

    <h2 class="mil-center mil-up mil-mb-60" set:html={data.softtxt2} />

    <div class="mil-revi-pagination mil-up mil-mb-60"></div>

    <div class="row mil-relative justify-content-center">
      <div class="col-lg-8">
        <div class="mil-slider-nav mil-soft mil-reviews-nav mil-up">
          <div class="mil-slider-arrow mil-prev mil-revi-prev mil-arrow-place">
          </div>
          <div class="mil-slider-arrow mil-revi-next mil-arrow-place"></div>
        </div>

        <svg
          xmlns="http://www.w3.org/2000/svg"
          viewBox="0 0 48 48"
          class="mil-quote-icon mil-up"
        >
          <path
            d="M 13.5 10 A 8.5 8.5 0 0 0 13.5 27 A 8.5 8.5 0 0 0 18.291016 25.519531 C 17.422273 29.222843 15.877848 31.803343 14.357422 33.589844 C 12.068414 36.279429 9.9433594 37.107422 9.9433594 37.107422 A 1.50015 1.50015 0 1 0 11.056641 39.892578 C 11.056641 39.892578 13.931586 38.720571 16.642578 35.535156 C 19.35357 32.349741 22 27.072581 22 19 A 1.50015 1.50015 0 0 0 21.984375 18.78125 A 8.5 8.5 0 0 0 13.5 10 z M 34.5 10 A 8.5 8.5 0 0 0 34.5 27 A 8.5 8.5 0 0 0 39.291016 25.519531 C 38.422273 29.222843 36.877848 31.803343 35.357422 33.589844 C 33.068414 36.279429 30.943359 37.107422 30.943359 37.107422 A 1.50015 1.50015 0 1 0 32.056641 39.892578 C 32.056641 39.892578 34.931586 38.720571 37.642578 35.535156 C 40.35357 32.349741 43 27.072581 43 19 A 1.50015 1.50015 0 0 0 42.984375 18.78125 A 8.5 8.5 0 0 0 34.5 10 z"
            fill="#000000"></path>
        </svg>

        <div class="swiper-container mil-reviews-slider">
          <div class="swiper-wrapper">
            <div class="swiper-slide">
              <div
                class="mil-review-frame mil-center"
                data-swiper-parallax="-200"
                data-swiper-parallax-opacity="0"
              >
                <h5 class="mil-up mil-mb-10">PHP</h5>
                <p class="mil-mb-5 mil-upper mil-up mil-mb-30">
                  {data.softtxt3}
                </p>
                <p class="mil-text-xl mil-up">
                  {data.softtxt4}
                </p>
              </div>
            </div>
            <div class="swiper-slide">
              <div
                class="mil-review-frame mil-center"
                data-swiper-parallax="-200"
                data-swiper-parallax-opacity="0"
              >
                <h5 class="mil-up mil-mb-10">React</h5>
                <p class="mil-mb-5 mil-upper mil-up mil-mb-30">
                  {data.softtxt5}
                </p>
                <p class="mil-text-xl mil-up">
                  {data.softtxt6}
                </p>
              </div>
            </div>
            <div class="swiper-slide">
              <div
                class="mil-review-frame mil-center"
                data-swiper-parallax="-200"
                data-swiper-parallax-opacity="0"
              >
                <h5 class="mil-up mil-mb-10">Javascript</h5>
                <p class="mil-mb-5 mil-upper mil-up mil-mb-30">
                  {data.softtxt3}
                </p>
                <p class="mil-text-xl mil-up">
                  {data.softtxt7}
                </p>
              </div>
            </div>
            <div class="swiper-slide">
              <div
                class="mil-review-frame mil-center"
                data-swiper-parallax="-200"
                data-swiper-parallax-opacity="0"
              >
                <h5 class="mil-up mil-mb-10">Html5</h5>
                <p class="mil-mb-5 mil-upper mil-up mil-mb-30">
                  {data.softtxt8}
                </p>
                <p class="mil-text-xl mil-up">
                  {data.softtxt9}
                </p>
              </div>
            </div>
            <div class="swiper-slide">
              <div
                class="mil-review-frame mil-center"
                data-swiper-parallax="-200"
                data-swiper-parallax-opacity="0"
              >
                <h5 class="mil-up mil-mb-10">Node.js</h5>
                <p class="mil-mb-5 mil-upper mil-up mil-mb-30">
                  {data.softtxt10}
                </p>
                <p class="mil-text-xl mil-up">
                  {data.softtxt11}
                </p>
              </div>
            </div>
            <div class="swiper-slide">
              <div
                class="mil-review-frame mil-center"
                data-swiper-parallax="-200"
                data-swiper-parallax-opacity="0"
              >
                <h5 class="mil-up mil-mb-10">Angular</h5>
                <p class="mil-mb-5 mil-upper mil-up mil-mb-30">
                  {data.softtxt12}
                </p>
                <p class="mil-text-xl mil-up">
                  {data.softtxt13}
                </p>
              </div>
            </div>
            <div class="swiper-slide">
              <div
                class="mil-review-frame mil-center"
                data-swiper-parallax="-200"
                data-swiper-parallax-opacity="0"
              >
                <h5 class="mil-up mil-mb-10">{data.softtxt14}</h5>
                <p class="mil-mb-5 mil-upper mil-up mil-mb-30">
                  {data.softtxt15}
                </p>
                <p class="mil-text-xl mil-up">
                  {data.softtxt16}
                </p>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>

<div class="mil-soft-bg">
  <div class="container mil-p-0-120">
    <div class="swiper-container mil-infinite-show mil-up">
      <div class="swiper-wrapper">
        <div class="swiper-slide">
          <a href="#." class="mil-partner-frame max60"
            ><img src="/img/tech/php.svg" alt="logo" /></a
          >
        </div>
        <div class="swiper-slide">
          <a href="#." class="mil-partner-frame max60"
            ><img src="/img/tech/react.svg" alt="logo" /></a
          >
        </div>
        <div class="swiper-slide">
          <a href="#." class="mil-partner-frame max60"
            ><img src="/img/tech/vuejs.svg" alt="logo" /></a
          >
        </div>
        <div class="swiper-slide">
          <a href="#." class="mil-partner-frame max60"
            ><img src="/img/tech/postgresql.svg" alt="logo" /></a
          >
        </div>
        <div class="swiper-slide">
          <a href="#." class="mil-partner-frame max60"
            ><img src="/img/tech/nodejs.svg" alt="logo" /></a
          >
        </div>
        <div class="swiper-slide">
          <a href="#." class="mil-partner-frame max60"
            ><img src="/img/tech/mysql.svg" alt="logo" /></a
          >
        </div>
        <div class="swiper-slide">
          <a href="#." class="mil-partner-frame max60"
            ><img src="/img/tech/javascript.svg" alt="logo" /></a
          >
        </div>
        <div class="swiper-slide">
          <a href="#." class="mil-partner-frame max60"
            ><img src="/img/tech/jquery.svg" alt="logo" /></a
          >
        </div>
        <div class="swiper-slide">
          <a href="#." class="mil-partner-frame max60"
            ><img src="/img/tech/css3.svg" alt="logo" /></a
          >
        </div>
        <div class="swiper-slide">
          <a href="#." class="mil-partner-frame max60"
            ><img src="/img/tech/html5.svg" alt="logo" /></a
          >
        </div>
        <div class="swiper-slide">
          <a href="#." class="mil-partner-frame max60"
            ><img src="/img/tech/angularjs.svg" alt="logo" /></a
          >
        </div>
        <div class="swiper-slide">
          <a href="#." class="mil-partner-frame max60"
            ><img src="/img/tech/angular2.svg" alt="logo" /></a
          >
        </div>
        <div class="swiper-slide">
          <a href="#." class="mil-partner-frame max60"
            ><img src="/img/tech/laravel.svg" alt="logo" /></a
          >
        </div>
      </div>
    </div>
  </div>
</div>
