---
const { langPrefix } = Astro.props;
const prefix = langPrefix || "/pl";
const { data } = Astro.props;
---

<footer class="mil-dark-bg mil-sekcja-ciemna">
  <div class="mi-invert-fix">
    <div class="container mil-p-120-60">
      <div class="row justify-content-between">
        <div class="col-md-4 col-lg-4 mil-mb-60">
          <div class="mil-muted mil-logo mil-up mil-mb-30">Maxsoft</div>

          <p class="mil-light-soft mil-up mil-mb-30">
            {data.footertxt1}
          </p>

          <form
            class="mil-subscribe-form mil-up"
            method="POST"
            action="https://formspree.io/f/xzzjnplw"
          >
            <input
              type="email"
              name="email"
              placeholder="Wpisz swój adres e-mail"
              required
            />
            <button
              type="submit"
              class="mil-button mil-icon-button-sm mil-arrow-place"
              title="Zapisz się na Newsletter"
              aria-label="Zapisz się na Newsletter"></button>
          </form>

          <div class="mil-tags mil-light-soft" set:html={data.footertxt2} />
        </div>
        <div class="col-md-7 col-lg-6">
          <div class="row justify-content-end">
            <div class="col-md-6 col-lg-7">
              <nav class="mil-footer-menu mil-mb-60">
                <ul>
                  <li class="mil-has-children mil-active">
                    <a href={prefix} title="Start">Start</a>
                  </li>
                  <li class="mil-has-children">
                    <a href={`${prefix}/oferta`} title={data.footertxt6}
                      >{data.footertxt6}</a
                    >
                  </li>
                  <li class="mil-has-children">
                    <a href={`${prefix}/projekty`} title={data.footertxt7}
                      >{data.footertxt7}</a
                    >
                  </li>
                  <li class="mil-has-children">
                    <a href={`${prefix}/wspolpraca`} title={data.footertxt8}
                      >{data.footertxt8}</a
                    >
                  </li>
                  <li class="mil-has-children">
                    <a href={`${prefix}/kontakt`} title={data.footertxt9}
                      >{data.footertxt9}</a
                    >
                  </li>
                </ul>
              </nav>
            </div>
            <div class="col-md-6 col-lg-5">
              <ul class="mil-menu-list mil-up mil-mb-60">
                <li>
                  <a
                    href="/pl/polityka_prywatnosci"
                    class="mil-light-soft"
                    title={data.footertxt10}>{data.footertxt10}</a
                  >
                </li>
                <li>
                  <a
                    href="/pl/polityka_cookies"
                    class="mil-light-soft"
                    title={data.footertxt11}>{data.footertxt11}</a
                  >
                </li>
                <li>
                  <a
                    href="https://www.npmjs.com/~maxsoft"
                    rel="noreferrer nofollow"
                    class="mil-light-soft"
                    title="NPM">NPM</a
                  >
                </li>
                <li>
                  <a
                    href="https://github.com/gmaxsoft"
                    rel="noreferrer nofollow"
                    class="mil-light-soft"
                    title="Github">Github</a
                  >
                </li>
              </ul>
            </div>
          </div>
        </div>
      </div>

      <div class="row justify-content-between flex-sm-row-reverse">
        <div class="col-md-7 col-lg-6">
          <div class="row justify-content-between">
            <div class="col-md-6 col-lg-5 mil-mb-60">
              <h6 class="mil-muted mil-up mil-mb-30">Lubrza</h6>
              <p class="mil-light-soft mil-up" set:html={data.footertxt4} />
            </div>
            <div class="col-md-6 col-lg-5 mil-mb-60">
              <h6 class="mil-muted mil-up mil-mb-30">Zielona Góra</h6>
              <p class="mil-light-soft mil-up" set:html={data.footertxt5} />
            </div>
          </div>
        </div>
        <div class="col-md-4 col-lg-6 mil-mb-60">
          <div class="mil-vert-between">
            <div class="mil-mb-30">&nbsp;</div>
            <p class="mil-light-soft mil-up">
              {data.footertxt3}
            </p>
          </div>
        </div>
      </div>
    </div>
  </div>
</footer>
