---
export const prerender = true;

import ErrorLayout from "../../layouts/ErrorLayout.astro";
import ErrorContent from "../../components/ErrorContent.astro";
import pl from "../../i18n/pl.json";
import en from "../../i18n/en.json";

const translations = { pl, en };
export async function getStaticPaths() {
  return [{ params: { lang: "pl" } }, { params: { lang: "en" } }];
}

const { lang } = Astro.params as { lang: "pl" | "en" };

// 1. POBRANIE DANYCH DLA STRONY "OFERTA"
const pageData = translations[lang]?.error || translations.pl.error;
const contentFooter = translations[lang].footer;
const contentMenu = translations[lang].menu;

// 2. USTALENIE LINKU KANONICZNEGO
Astro.response.status = 404;
---

<ErrorLayout
  title={pageData.title}
  description={pageData.description}
  ogImage={pageData.ogimage || "/img/default-og.webp"}
  currentLocale={lang}
  contentMenu={contentMenu}
  contentFooter={contentFooter}
>
  <>
    <ErrorContent data={pageData} />
    <div style="display:none" aria-hidden="true"></div>
  </>
</ErrorLayout>
