---
export const prerender = true;

import PageLayout from "../../layouts/PageLayout.astro";
import ContentContact from "../../components/ContentContact.astro";
import pl from "../../i18n/pl.json";
import en from "../../i18n/en.json";

const translations = { pl, en };
export async function getStaticPaths() {
  return [{ params: { lang: "pl" } }, { params: { lang: "en" } }];
}

const { lang } = Astro.params as { lang: "pl" | "en" };
const langPrefix = `/${lang}`;

// 1. POBRANIE DANYCH DLA STRONY "OFERTA"
const pageData = translations[lang]?.kontakt || translations.pl.kontakt;
const contentFooter = translations[lang].footer;
const contentMenu = translations[lang].menu;
---

<PageLayout
  title={pageData.title}
  description={pageData.description}
  ogImage={pageData.ogimage || "/img/default-og.webp"}
  currentLocale={lang}
  contentMenu={contentMenu}
  contentFooter={contentFooter}
>
  <>
    <ContentContact data={pageData} langPrefix={langPrefix} />
    <div style="display:none" aria-hidden="true"></div>
  </>
</PageLayout>
