---
export const prerender = true;

import PageLayout from "../../layouts/PageLayout.astro";
import ContentPolityka from "../../components/ContentPolityka.astro";
import pl from "../../i18n/pl.json";
import en from "../../i18n/en.json";

const translations = { pl, en };
export async function getStaticPaths() {
  return [{ params: { lang: "pl" } }, { params: { lang: "en" } }];
}

const { lang } = Astro.params as { lang: "pl" | "en" };

// 1. POBRANIE DANYCH DLA STRONY "OFERTA"
const pageData = translations[lang]?.polityka || translations.pl.polityka;
const contentFooter = translations[lang].footer;
const contentMenu = translations[lang].menu;

// 2. USTALENIE LINKU KANONICZNEGO
const canonicalUrl = `${Astro.url.origin}/${lang}/polityka_prywatnosci`; // np. https://twojadomena.com/pl/oferta
---

<PageLayout
  title={pageData.title}
  description={pageData.description}
  ogImage={pageData.ogimage || "/img/default-og.webp"}
  currentLocale={lang}
  canonical={canonicalUrl}
  contentMenu={contentMenu}
  contentFooter={contentFooter}
>
  <>
    <ContentPolityka data={pageData} />
    <div style="display:none" aria-hidden="true"></div>
  </>
</PageLayout>
