---
import { SEO } from "astro-seo";
import Menu from "../components/Menu.astro";
import Footer from "../components/Footer.astro";
import HiddenElements from "../components/HiddenElements.astro";
import pl from '../i18n/pl.json';
import en from '../i18n/en.json';

const translations = { pl, en };
export async function getStaticPaths() {
  return [
    { params: { lang: 'pl' } }, // Strona dla języka polskiego
    { params: { lang: 'en' } }  // Strona dla języka angielskiego
  ];
}

const { lang } = Astro.params as { lang: 'pl' | 'en' };
const langPrefix = `/${lang}`;
const content = translations[lang]?.index || translations.pl.index;
const contentFooter = translations[lang].footer;
const contentMenu = translations[lang].menu;

const {
  title = content.title, // Tytuł strony (np. z JSON)
  description = content.description, // Opis strony (np. z JSON)
  canonical = Astro.url.href, // 💡 NOWY PROP: Link kanoniczny
  currentLocale = lang, // Język strony
  ogImage = "/img/default-og.webp", // Obrazek OG
} = Astro.props;
---

<!doctype html>
<html lang={lang}>
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="icon" type="image/svg+xml" href="/favicon.ico" />
    <meta name="generator" content={Astro.generator} />
    <SEO
      title={title}
      description={description}
      openGraph={{
        basic: {
          title: title,
          type: "website",
          image: ogImage,
          url: canonical, // Używamy kanonicznego URL
        },
        // ...
      }}
    />
  </head>
  <body>
    <div class="mil-wrapper" id="top">

      <Menu data={contentMenu} langPrefix={langPrefix} />
      <div class="mil-curtain"></div>

      <div class="mil-frame">
        <div class="mil-frame-top mil-logo-fixed">
          <a href={langPrefix} class="mil-logo">Maxsoft</a>

          <div class="mil-lang-switch">
                <a href="/pl/" class:list={["mil-lang-flag", lang === 'pl' ? 'mil-active' : '']}>PL</a>
                <a href="/en/" class:list={["mil-lang-flag", lang === 'en' ? 'mil-active' : '']}>EN</a>
          </div>

          <div class="mil-menu-btn">
            <span></span>
          </div>
        </div>
        <div class="mil-frame-bottom">
          <div class="mil-current-page"></div>
          <div class="mil-back-to-top">
            <a href="#top" class="mil-link mil-dark mil-arrow-place">
              <span>Do góry</span>
            </a>
          </div>
        </div>
      </div>
      <div class="mil-content">
        <div class="mil-main-transition">
          <slot />
          <Footer data={contentFooter} langPrefix={langPrefix} />
          <HiddenElements />
        </div>
      </div>
    </div>

    
    <script>
      import "../scripts/main.js";
    </script>
  </body>
</html>

<style lang="scss" is:global>
  @import url("../assets/styles/style.scss");
</style>
