---
import { SEO } from "astro-seo";
import Menu from "../components/Menu.astro";
import Footer from "../components/Footer.astro";
import HiddenElements from "../components/HiddenElements.astro";

// Domyślne wartości dla propsów, aby uniknąć undefined
const {
  title = "Domyślny tytuł podstrony",
  description = "Domyślny opis podstrony",
  ogImage = "/img/default-og.webp",
} = Astro.props;

// Pobierz aktualny język z kontekstu Astro, domyślnie 'pl'
const currentLocale = Astro.currentLocale || "pl";
const isHomePage = Astro.url.pathname === `/${currentLocale}/` || Astro.url.pathname === '/';
---

<!doctype html>
<html lang={currentLocale}>
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="icon" type="image/svg+xml" href="/favicon.ico" />
    <meta name="generator" content={Astro.generator} />
    <SEO
      title={title}
      description={description}
      openGraph={{
        basic: {
          title: title,
          type: "website",
          image: ogImage,
          url: Astro.url.href,
        },
        image: {
          alt: "Opis obrazu",
        },
      }}
      twitter={{
        card: "summary_large_image",
        site: "@twoj_twitter",
      }}
    />
  </head>
  <body>
    <div class="mil-wrapper" id="top">

      <Menu />
      <div class="mil-curtain"></div>

      <div class="mil-frame">
        <div class="mil-frame-top mil-logo-fixed">
          <a href={currentLocale} class="mil-logo">Maxsoft</a>
          <div class="mil-menu-btn">
            <span></span>
          </div>
        </div>
        <div class="mil-frame-bottom">
          <div class="mil-current-page"></div>
          <div class="mil-back-to-top">
            <a href="#top" class="mil-link mil-dark mil-arrow-place">
              <span>Do góry</span>
            </a>
          </div>
        </div>
      </div>
      <div class="mil-content">
        <div class="mil-main-transition">
          <slot />
          <Footer />
          <HiddenElements />
        </div>
      </div>
    </div>

    <script type="module" src="/src/scripts/main.js"></script>
  </body>
</html>

<style lang="scss" is:global>
  @import url("../assets/styles/style.scss");
</style>
